body {
    font-family: 'Roboto Mono' !important;
}
.wrap {
  padding: 0 0 80px;
}

/*homepage*/
.social {
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 13px;
}

.header-container {
  font-family: 'Roboto Mono' !important;
  padding-top: 5%;
  padding-bottom: 2%;;
}

.container {
  padding-bottom:2% !important;
}

/*navbar*/

.social-link {
   display: inline-block !important;
}

.navbar {
  font-family: 'Roboto Mono'!important;
  background-color: #ececec !important;
  font-weight: 700;
  font-size: 15px;
}

.nav-item {
  float: right !important;
}

.h1bold {
  font-weight: bold !important;
  font-family: 'Roboto Mono' !important;
}
/*portfolio*/

.portfolio {
  /*font-family: 'Roboto Mono' !important;*/
  padding-top: 10%;
  text-align: center;
  font-size: 30px;
}

}
.portfolioh1 {
    font-weight: bold;
}

.card-text {
  font-size: 15px !important;
}

.card-hikingjournal {
  background-image: url("../images/hikingjournal.png");
}

.card-learn {
  background-image: url("../images/learnmorebetter.png");
}

.card-flex {
  background-image: url("../images/flex.png");
}
.spacebtn {
  margin-left: : 13px !important;
  margin-right: 13px !important;
}

.img-responsive {
  margin: 0 auto;
}

/*pixel logo*/

.container{
  text-align: center;
}

#pixelContainer {
  /*padding-top: 10px;*/
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#submitlogo{
  text-align: center;
}

#sidebar {
  float: inherit;
  /*text-align: center;*/
  display:inline-block;
  /*border-radius: 6px;*/
}

.color {
    border: 1px solid black;
    padding: 8px 8px;
    float:left;
}

.pixel {
  float: left;
  display: inline-block;
  background-color: white;
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
#black {
  background-color: black;
}
#white {
  background-color:white;
}

/* Footer */
.footer {
  font-weight: bold;
  padding-top: 1px;
  font-size: 15px;
  font-family: 'Roboto Mono';
  text-align: center;
  position:fixed;
  bottom:0;
  width: 100%;
  background-color: #ececec;
  height: 75px;
}
