.social {
  /*justify-content: center !important;*/
  font-size: 30px;

}

.header-container {
  padding-top: 10%;
  padding-bottom: 20%;

}

/*.socialicon {
   display: inline-block !important;
}*/

.portfolio {
  padding-top: 20%;
  text-align: center;
  font-size: 30px;
}



.card-text {
  font-size: 15px !important;
}

.card-hikingjournal {
  background-image: url("../images/hikingjournal.png");
}

.card-learn {
  background-image: url("../images/learnmorebetter.png");
}

.card-flex {
  background-image: url("../images/flex.png");
}

/* navigation */



.navbar {
  background-color: #ececec !important;
  font-weight: 700;
  font-size: 15px;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* Footer */

footer {
  bottom: 0;
  position: absolute;
  background-color: #ececec;
}
